<nav class="navbar navbar-expand-lg navbar-light">
  <button type="button" id="sidebarCollapse" class="btn btn-debug navbar-btn">
    <i class="fa fa-bars"></i>
  </button>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <a href="">
            <img src="{{ user.imagen }}" width="38" class="rounded-circle valor-izq" />
            <strong>{{ user.firstName +" "+ user.lastName }} </strong>
           
          </a>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Perfil</a>
          <a class="dropdown-item" href="#">Opciones</a>
          <div class="dropdown-divider"></div>
          <button class="signOut" (click)="signOut()">Cerrar Sesión</button>
        </div>

      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar Página" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>

</nav>