<div id="login">

	<h1>
		<strong>Bienvenido.</strong>
	</h1>
	<form method="get">
		<fieldset>
			<p>
				<input type="text" required value="Usuario" onBlur="if(this.value=='')this.value='Username'" onFocus="if(this.value=='Username')this.value='' ">
			</p>
			<p>
				<input type="password" required value="Contraseña" onBlur="if(this.value=='')this.value='Password'" onFocus="if(this.value=='Password')this.value='' ">
			</p>
			<p>
				<a href="#">¿Olvido su contraseña?</a>
			</p>
			<p>
				<input type="submit" value="Login">
			</p>
			<p>
				<input (click)="registro()" type="submit" value="Registrarse">
			</p>
		</fieldset>
	</form>
	<p>
		<span class="btn-round">ó</span>
	</p>
	<p (click)="socialSignIn('facebook')">
		<a class="facebook-before">
			<span class="fontawesome-facebook color-icon"></span>
		</a>
		<button class="facebook">Ingresar con Facebook</button>
	</p>
	<p (click)="socialSignIn('google')">
		<a class="google-before">
			<span class="fontawesome-google-plus color-icon"></span>
		</a>
		<button class="google">Ingresar con Google</button>
	</p>

</div>